
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 50px;
    color: #333;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
}

.step-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.step-links a {
    margin: 0 40px;
}