<!DOCTYPE html>
<html>
<head>
    <title>Подробная информация о ЗУ</title>
</head>
<body>
    <h1>Подробная информация о ЗУ</h1>
    <table>
        <tr>
            <th>Номер по порядку</th>
            <td>{{ land_plot.0 }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ land_plot.1 }}</td>
        </tr>
        <tr>
            <th>Площадь</th>
            <td>{{ land_plot.2 }}</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{{ land_plot.3 }}</td>
        </tr>
      <tr>
            <th>Дата создания</th>
            <td>{{ land_plot.4 }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ land_plot.5 }}</td>
        </tr>
         <tr>
            <th>Ближайшая дорога</th>
            <td>{{ land_plot.8 }}</td>
        </tr>
        <tr>
            <th>Расстояние до ближайшей дороги</th>
            <td>{{ land_plot.9 }}</td>
        </tr>
    </table>
</body>
</html>
